H21AndroidAppForWebService/Web References/ContactWebservice/WebServiceH21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetXML">
        <s:complexType />
      </s:element>
      <s:element name="GetXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXMLResult" type="tns:contact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="contact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetJson">
        <s:complexType />
      </s:element>
      <s:element name="GetJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contact" nillable="true" type="tns:contact" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetXML" />
  </wsdl:message>
  <wsdl:message name="GetXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetJsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetJson" />
  </wsdl:message>
  <wsdl:message name="GetJsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetJsonResponse" />
  </wsdl:message>
  <wsdl:message name="GetXMLHttpGetIn" />
  <wsdl:message name="GetXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:contact" />
  </wsdl:message>
  <wsdl:message name="GetJsonHttpGetIn" />
  <wsdl:message name="GetJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceH21Soap">
    <wsdl:operation name="GetXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method return XML output</wsdl:documentation>
      <wsdl:input message="tns:GetXMLSoapIn" />
      <wsdl:output message="tns:GetXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method return Json output</wsdl:documentation>
      <wsdl:input message="tns:GetJsonSoapIn" />
      <wsdl:output message="tns:GetJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceH21HttpGet">
    <wsdl:operation name="GetXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method return XML output</wsdl:documentation>
      <wsdl:input message="tns:GetXMLHttpGetIn" />
      <wsdl:output message="tns:GetXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method return Json output</wsdl:documentation>
      <wsdl:input message="tns:GetJsonHttpGetIn" />
      <wsdl:output message="tns:GetJsonHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceH21Soap" type="tns:WebServiceH21Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXML">
      <soap:operation soapAction="http://tempuri.org/GetXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <soap:operation soapAction="http://tempuri.org/GetJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceH21Soap12" type="tns:WebServiceH21Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXML">
      <soap12:operation soapAction="http://tempuri.org/GetXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <soap12:operation soapAction="http://tempuri.org/GetJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceH21HttpGet" type="tns:WebServiceH21HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetXML">
      <http:operation location="/GetXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <http:operation location="/GetJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceH21">
    <wsdl:port name="WebServiceH21Soap" binding="tns:WebServiceH21Soap">
      <soap:address location="https://localhost:44374/WebServiceH21.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceH21Soap12" binding="tns:WebServiceH21Soap12">
      <soap12:address location="https://localhost:44374/WebServiceH21.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceH21HttpGet" binding="tns:WebServiceH21HttpGet">
      <http:address location="https://localhost:44374/WebServiceH21.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>